* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: black;
}

.wrapper {
    box-shadow: 0px 0px 17px 0px #6f6d6d;
    width: 350px;
    margin: 50px auto;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.formUser {
    width: 100%;
    padding: 10px 15px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid yellow;
}

.wrapperForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}

.wrapperForm input {
    display: block;
    border: 0;
    height: 40px;
    padding: 15px 10px;
    outline: none;
    font-size: 16px;
    background-color: #f0f0f0;
    transition: 0.3s;
}

.wrapperForm input:focus {
    background-color: #fff;
    border: 2px solid yellow;
}

.wrapperSubmit {
    height: 20%;
    display: flex;
    align-items: flex-end;
}

.wrapperSubmit button {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: black;
    border: 0;
    border-radius: 5px;
    background-color: yellow;
    cursor: pointer;
}

input.invalid {
    border: 2px solid red;
}

/*****************************/
.wrapperContacts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.itemContact {
    height: 300px;
    width: 250px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 5px solid yellow;
    background-color: #fff;
    box-shadow: 10px 9px 22px -7px #6f6d6d;
}

.itemContact p {
    display: block;
    background-color: #fff;
    padding: 10px 10px;
}

.button {
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: yellow;
}

.button i {
    font-size: 20px;
}

/***************/
#changeForm {
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-left: 5px solid yellow;
    box-shadow: 10px 9px 22px -7px #6f6d6d
}

#changeForm label {
    padding: 5px 10px;
}

#changeForm input {
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    outline: none;
    border: 0;
    font-size: 18px;
    background-color: #f0f0f0;
    transition: 0.3s;
}

#changeForm input:focus {
    background-color: #fff;
    border: 2px solid yellow;
}

.checkBtn {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-color: yellow;
}

.checkBtn i {
    font-size: 20px;
}






